<form method="post" action="{{ path('app_dispo_delete', {'id': dispo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dispo.id) }}">
    <button class="btn">Delete</button>
</form>
