{% extends 'base.html.twig' %}

{% block title %}Edit Disp{% endblock %}

{% block body %}
    <h1>Edit Disp</h1>

    {{ include('disp/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_disp_index') }}">back to list</a>

    {{ include('disp/_delete_form.html.twig') }}
{% endblock %}
